@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme styles */

.filepond--panel-root {
  background-color: #f0f0f0;
  /* ... other styles ... */
}

/* ... other default light theme styles ... */

/* Dark theme styles */

.dark .filepond--label-action {
  -webkit-text-decoration-color: #babdc0;
  text-decoration-color: #babdc0;
}

.dark .filepond--panel-root {
  background-color: #1a1a1a; /* Dark background for the panel */
  /* ... other dark styles ... */
}

.dark .filepond--drop-label {
  color: #ffffff; /* Lighter text color for dark mode */
}

.dark .filepond--item-panel {
  background-color: #595e68; /* Dark background for file items */
}

.dark .filepond--drip-blob {
  background-color: #7f8a9a; /* Dark background for the drop circle */
}

/* Customization for error and success states */
.dark [data-filepond-item-state*="error"] .filepond--item-panel {
  background-color: #ca8a07; /* Use NextUI's error color */
}

.dark [data-filepond-item-state="processing-complete"] .filepond--item-panel {
  background-color: #28a745; /* Use NextUI's success color */
}
